body {
    background-image: url("https://cdn.pixabay.com/photo/2024/04/19/12/13/ai-generated-8706225_960_720.png");
    background-size: cover;
    background-repeat: no-repeat;
}
.book-item {
    padding: 5px;
    text-align: center;
    margin-bottom: 5px;
    background-color: aliceblue;
}

form {
    /* background-color: aliceblue; */
    padding: 10px;
}

.error {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #fff;
    height: 70px;
    font-size: 1.75rem;
    text-align: center;
}
.email-error {
    color: red;
    font-size: 1.35rem;
}

/* Signup page styling */
.signup-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup-div{
    width: 510px;
    background: transparent;
    border: 2px solid  rgba(255, 255, 255, .2);
    color:white;
    backdrop-filter: blur(30px);
    box-shadow: 0 o 10px rgba(0, 0, 0, .2);
    border-radius: 10px;
    padding: 40px;
}
 
.signup-div h1{
     font-size: 36px;
     text-align: center;
}
 
.signup-div form input {
     border-radius: 10px;
}
 .signup-div form label {
     font-family: sans-serif;
}
 .signup-div form label:hover {
     cursor: pointer;
}
.signup-div .form-group{
     position: relative;
     width: 100%;
     height: 50px;
     margin: 30px 0;
}
 
.form-group input{
     width: 100%;
     height: 100%;
     background: transparent;
     border: none;
     outline: none;
     border: 2px solid rgba(218, 205, 205, 0.2);
     border-radius: 0px;
     font-size: 16px;
     color: #ffff;
     padding: 20px 45px 20px 20px;
     border-color: white;
     
}
 
 
.form-group input::placeholder{
     color: white;
     opacity: .5;
 
}
 
.form-group i{
     position: absolute;
     float: right;
     top: 37px;
     font-size: 25px;
     right: 10px;
} 
.form-group2{ 
     text-align: end;
     margin-top: 50px;
     margin-bottom: 50px;
    
}

.signup-div .btn{
     width: 100%;
     height: 45px;
     background: #278ded;
     border: none;
     color: white;
     outline: none;
     border-radius: 40px;
     box-shadow: 0 0 10px rgba(0,0,0,-1);
     cursor: pointer;
     font-size: 19px;
     color: #fff;
     font-weight: 600;
} 
.signup-div .btn:hover{
     background-color:#fff ;
     color: #278ded;
     border: 3px solid #278ded;
     transition: .25s;
}

.select {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
}
.select label{
    font-size: 18px;
}
select{
    color: #000;
    width: 130px;
    height: 25px;
}
.already{
     margin-bottom: 15px;
     text-decoration: none;
     font-size: 18px;
     text-align: center;
     margin: 10px;
}
.already a{
     text-decoration: none;
     color:#4ba9ff;
}
.already  p a:hover{
     color: rgb(235, 55, 55);
}
 
.eye-icon:hover{
     cursor: pointer;
}
#passwordSuggestion {
    color: #fff; 
    font-size: .92em;
    /* margin-bottom:50px; */
}
.remember-forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.85rem;
}
.remember-forgot .check-box {
    margin: 5px;
    width: 1.75rem; 
    height: 1.75rem; 
}
.remember-forgot a{
    text-decoration: none;
    color: rgb(231, 82, 82);
}



/* Profile page Styling */
.profile-body{
     background-image: none;
}
.profile-container {
     display: flex;
     /* flex-wrap: wrap; */
     height: 100vh;
 }
 
 .profile-left {
     /* width: 25%; */
     flex: 0 0 30%;
     padding: 15px;
     box-sizing: border-box;
 }
 
 .profile-right {
     width: 75%;
     flex: 1;
     padding: 10px;
     box-sizing: border-box;
     height: 950px; /* Adjust the height as needed */
     overflow-y: scroll; /* Always show scrollbar */
     scrollbar-width: none; /* Hide scrollbar in Firefox */
     -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer */
 }
 
 .profile-right::-webkit-scrollbar {
     display: none; /* Hide scrollbar in WebKit browsers */
 }
 
 .user-image {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: relative;
    /* border: 1px solid black; */
    /* overflow: hidden; */
 }
 
 .user-image img {
    /* height: auto;
    width: 100%; */
    /* background-size: cover; */
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
    background-repeat: no-repeat;
 }
 .user-image a {
    text-decoration: none;
    z-index: 100;
    position: relative;
    left: 65%;
    bottom: 36px;
    border: 1px solid transparent;
    background-color: #c9c9c9;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-image a i {
    font-size: 22px;
    color: #000;
}
 
 .user-details {
     margin-top: 20px;
 }

 .user-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
 }
 .user-buttons a{
    text-decoration: none;
 }
 .book-buttons {
     display: flex;
     justify-content: space-evenly;
     align-items: center;
 }
 .book-buttons a{
     width: 45%;
     text-align: center;
     font-size: 1.5rem;
 }
 .logout-button, 
 .report-button, 
 .edit-button,
 .reset-button,
  .save-btn {
     width: 60%;
     margin: 5px 0 5px 0;
     padding: 10px 20px;
     background-color: #333;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     text-align: center;
     text-decoration: none;
 }
 .edit-button,.save-btn {
    text-decoration: none;
    background-color: #1f883d;
    color: #fff;
 }
 .edit-button:hover {
    background-color: #336c42;
    color: #fff;
 }
 .save-btn:hover {
    background-color: #336c42;
    color: #fff;
 }
 .delete-div{
    margin-top: 40px;
    margin-bottom: 10px;
 }
 .delete-div h3 {
    color: #d1242f;
 }
 .delete-div a {
    text-decoration: none;
 }
 .delete-button{
    /* position: absolute; */
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #f6f8fa;
    border: 1px solid #d1242f;
    color: #d1242f;
    /* bottom: 0; */
    /* left: 10; */
    cursor: pointer;
    text-decoration: none;
 }
 .delete-button:hover {
    background-color: #d1242f;
    color: #f6f8fa;
    transition: .25s;
 }
 .logout-button:hover,.report-button:hover {
     background-color: #555;
     color: #fff;
     text-decoration: none;
 }
 .reset-button:hover {
    background-color: #555;
    color: #fff;
    text-decoration: none;
 }
 .book-container {
     max-height: 100%;
 }

 .book-cards {     
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    grid-gap: 20px;
}

.book-card {
    /* width: calc(31.33% - 20px);  */
    width: 100%;
    margin-bottom: 20px; /* Add some margin between cards */
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 9px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}
.book-card span {
    float: left;
    font-size: 20px;
    /* margin-right: 10rem; */
} 
 .book-card img {
     width: 100%;
     height: 300px;
     margin-bottom: 10px;
 }
 .book-card h4 {
     margin-top: 10px;
     margin-bottom: 5px;
}
.book-card p {
     margin-bottom: 10px;
}
 .read-button, .return-button {
     padding: 8px 15px;
     background-color: #007bff;
     color: #fff;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 
 .read-button:hover, .return-button:hover {
     background-color: #0056b3;
     color: #fff;
     text-decoration: none;
 }

 @media (min-width: 400px) {
     .container {
         width: 100%;
     }
 }
 
 .checkbox-wrapper-31:hover .check {
    stroke-dashoffset: 0;
  }

  .checkbox-wrapper-31 {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
  }
  .checkbox-wrapper-31 .background {
    fill: #ccc;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .stroke {
    fill: none;
    stroke: #fff;
    stroke-miterlimit: 10;
    stroke-width: 2px;
    stroke-dashoffset: 100;
    stroke-dasharray: 100;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 .check {
    fill: none;
    stroke: #fff;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 2px;
    stroke-dashoffset: 22;
    stroke-dasharray: 22;
    transition: ease all 0.6s;
    -webkit-transition: ease all 0.6s;
  }
  .checkbox-wrapper-31 input[type=checkbox] {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    margin: 0;
    opacity: 0;
    -appearance: none;
    -webkit-appearance: none;
  }
  .checkbox-wrapper-31 input[type=checkbox]:hover {
    cursor: pointer;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .background {
    fill: #1f883d;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .stroke {
    stroke-dashoffset: 0;
  }
  .checkbox-wrapper-31 input[type=checkbox]:checked + svg .check {
    stroke-dashoffset: 0;
  }

  /* Styling Popup window */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    transition: opacity 0.3s, top 0.3s, left 0.3s;
}

/* Style the modal content */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
    transition: opacity 0.3s;
}
.modal-content h2 {
    text-align: center;
}
.modal-content ul {
    margin: 10px auto;
    padding: 10px;
}
.modal-content ul li {
    list-style-type: none;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 20px 0;
}
.modal-content ul li label {
    font-family: sans-serif;
}
.modal-content ul li input {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    padding-left: 10px;
}
/* Style the close button */
.close {
    color: #aaa;
    float: right;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.flex-prop {
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:700px){
    .modal-content {
        width: 90%; 
    }
    .delete-div {
        margin-bottom: 20px;
    }
}

