<div class="signup-main-container">
    <div class="signup-div">
        <div id="flash-messages">
            {{#if error}}
            <p class="error">{{error}}</p>
            {{/if}}
            {{#if message}}
            <p class="error">{{message}}</p>
            {{/if}}
        </div>
        <form action="/user/login" method="post">
            <h1>Login Form</h1>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="eg:user123@gmail.com" required>
                <i class="fa-solid fa-user" title="Enter your email address."></i>
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password" placeholder="enter your password" required>
                <i class="fa-solid fa-lock" title="Your password is fully secure."></i>
            </div>
            <div class="remember-forgot">
                <div class="div">
                    <label>
                        <input type="checkbox" class="check-box" name="remember">Remember me for 7 days.
                    </label>
                </div>
                <div class="div">
                    <a href="#"> Forgot password?</a>
                </div>
            </div>
            <button type="submit" class="btn btn-default">Login</button>
            <br>
            <div class="already">
                <p>Don't have an account? <a href="/user/signup">Register</a></p>
            </div>
        </form>
    </div>
</div>

<script src="/javascripts/script.js"></script>